 @media only screen and (max-width: 992px) {
     body{
         overflow-x: hidden;


     }
          .upernav{
              font-size: .4rem;
              /* padding-left:6% ; */

          }
          .uppernav img{
                min-width: 20%;
          }

          .heroimg{
              opacity: .3;
          }

          .bg-img img{
           display: none;
          }
          .bg-img{
              outline: none;
              height: 100%;
          }

          .footer{
              display: flex;
              flex-direction: column;
              height: 100vh;
              font-size: .7rem;
             
          }
          .footer img{
              width: 50%;
          }
          

         
    }


    @media (min-width:992px){
        .cform{
            /* display: flex; */

            /* display: none; */
        }
        .box{
            /* display: flex; */
            /* width: 100%; */
            /* height: auto; */
            /* justify-content: center; */
        }
     }




#second{
    order: 2;
}

#first{
    order: 1;
}

.copys{
    position: absolute;
    bottom: 0;
}