ul{
    display: flex;
    
}
ul li{
    list-style: none;
    /* margin-left: 5%; */
}
.mycard{
    background-color: #F4F6FA;
    /* overflow-x: hidden; */
    /* background: #F4F4F4; */
    

}
.pcard{
    width: 42.666667%;
}
.p2c{
   width: 25%;
    }
.mapsection{
    background: #F4F4F4;
    /* width: 100vw; */

}
.se4{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size:3rem;
line-height: 58px;
}
.cimg{

    /* right: 0; */
    /* left: 0; */
}
.ftext p{
    font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 1.25rem;
}
.ftext {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 30px;
}
.btext{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
}


.w1{
    width:auto;
}
.secta{
    background-color: #FFFFFF;
}
li{
    list-style: none;
}

.footerbg{
    background-color: #1A1A1A;
}
.pleft{
    position: relative;
    right: 0;
}

.navli li{
        
}
.box {
    border-radius: 20px;
}


.submit{
    background-color: #4762FF;
}
.col-8{
    width: 46%;
}

input{
    
    width: 469px;
height: 56px;
/* left: 0px; */
/* top: 0px; */

background: rgba(71, 98, 255, 0.08);
border-radius: 8px;


}
.bgrey{
    
}

.extrap{
    margin-top: 8.1rem;
}
.ptext{
    /* font-family: 'Inter', sans-serif; */
    
    font-family: 'Inter';
    font-style: normal;
    
    font-weight:500;
    font-feature-settings: 'liga' off;
    color: #333333CC;
    font-size: 1.125rem;



}
.ptext2{
    padding-left: 20vw;
    padding-right: 20vw;
}
.cform{
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 5px;

    /* font-family: 'Alfa Slab One', cursive; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Titan One', cursive; */


 /* background: url('./images/TRUCKDRIVER.png') no-repeat center/cover; */
    /* border-radius: 20px; */
    /* background: url("./images/TRUCKDRIVER.png"); */
}



footer{
    /* padding-top: ; */
border-top: 0.7px solid #474747;
/* width: 80%; */
/* margin-bottom: ; */
}
.footer h5{
    font-family: 'Inter';
/* font-style: normal; */
/* font-weight: 500; */
font-size: 1.25rem;
}
.ntt{
    width: 179px;
height: 40px;
left: 0px;
top: 0px;

background: #4762FF;
border-radius: 5px;
overflow: hidden;
}

.nflow{
    overflow: hidden;
    /* overscroll-behavior: ; */
}
.s3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Alfa Slab One', cursive; */
    /* font-family: 'Titan One', cursive; */
}
  
.p2c{
    width: 20px;
}
.timg{
    width: 100vw;
}
.prr{
    position: relative;
    right: 0;
}

.f{
    border-radius: 20px;
}

.hd{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.siiz{
    font-size: 2.5rem;
}
.ttt{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
/* font-size: 48px; */
}
.pdi{
    padding-left: 15vw;
}
.mapi{
    max-width: 100vw;
    /* min-width: 50vw; */
}
.st{
    
    /* font-family: 'Alfa Slab One', cursive;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Titan One', cursive; */
    /* font-family: 'Roboto', sans-serif; */
}

.ff{
    /* font-family: ; */
     /* font-family: 'Alfa Slab One', cursive;
     /* font-family: 'Titan One', cursive; */
     /* font-family: 'Roboto', sans-serif; */
     /* font-family: 'Montserrat', sans-serif;  */
}

.cform::before{
    content: '';
   background: url('/images/TRUCKDRIVER.png') ;
    /* background-size */
background-size: contain;
   background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* object-fit: fill; */
}
.btnbg{
    background: #4762FF;
}
.mapp{
    max-width: 100vw;
    min-width: 20vw;
}

.fff{
    

    /* font-family: 'Inter', sans-serif; */
    font-weight: 500;
}

.lnv{
    /* gtex */
    text-align:left ;
}
.fullw{
    width: 123vw;
}

.bleft{
    /* size: 16px; */
    border-left: 1px solid #3333331A;
}

.btntext{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
/* font-size: 16px; */
line-height: 19px;


}

.hcard{
    /* height: 2.6em; */
}